
@font-face {
	font-family: droid;
	src: url('https://cdn.rawgit.com/matheus-robbertto/Teste/35f7b8cf/DroidSerif-Regular.ttfx');
	font-weight: normal;
	font-style: normal;
}

p {
	text-align: justify;
	text-indent: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
	margin-top: 10px;
	font-family: droid;
}

h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 20px;
}

h3 {
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10 px;
	padding: 0;
}


.comBorda {
	width: 550px;
	border-style: solid; 
	margin: auto;
	border-color: #c0c0c0;
	border-width: 2px;
	background-color: #FFFFFF;
	border-top-width: 2px;
	
	
}

b {
	font-weight: bolder;
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url("back2.gif");
}

.Bg {
	background-image: url("https://lh4.googleusercontent.com/0l_jHApU8MhByAEuNWUuLtZ9TcpU8fmQE7SE9Ol3nJsgivF3ChYLiK1bhpTH6SyMTCwjf5oSPgZNDw=w1366-h662");
	margin: 0;
	padding: 0;
	border: 0;
}

.largura {
	width: 700px
}


.rodape {
	background-color: #FFFFFF; 
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 0px;
	border-radius: 0px 0px 0px 0px;
	color: #222222;
	text-align: center;
	font-size: 14px;
	font-family: droid;
	line-height: 150%;
}

a{
	color: #0000FF;
}

.indicacoes {
	padding: 50px;
	padding-top: 0px;
	padding-bottom: 20px;
	font-family: droid;
	margin: 0px;
}

li {
	line-height: 175%;
}

.Acontece {
	font-family: droid;
	width: 50%;
	padding: 4%;
	padding-top: 0px;
	padding-bottom: 1%;
	border-width: 0;
	margin: 0;

}

.listaJ {
	margin: 0;
	padding: 5px;
	text-align: justify;
	font-family: droid;
	font-size: 15px;
}
